@import "tailwindcss";@theme {
  --font-geist: 'Geist', sans-serif;
  --font-mono: 'Geist Mono', monospace;
  --font-serif: 'Instrument Serif', serif;
}

body {
  font-family: 'Geist', sans-serif;
  background-color: #000;
}